footer {
    background: #131111;
}

ul li,
ul li:hover {
    list-style-type: none;
    /* padding-bottom: 20px; */

}

ul li a,
ul li a:hover {
    color: white
}

ul h5 {
    color: white;
    margin-bottom: 20px;
    font-weight: 600
}

.about {
    line-height: 33px
}