.location {
    font-size: 12px;
    font-weight: 500;
}


.card-list {
    column-count: 3;
}

.card--item,
.autor-details {
    margin-bottom: 1rem;
    position: relative;
}

.card--item:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 7px;
    background: rgba(0, 0, 0, 0.5);
}

.card-image {
    flex: 100%;
    margin-top: 0.5rem;
    border-radius: 7px;
}

@media only screen and (max-width: 600px) {
    .card-list {
        column-count: 1;
    }
}

#container {
    padding-right: 50px;
    padding-left: 50px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    #container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    #container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    #container {
        width: 1170px;
    }
}

.card--item img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
    border-radius: 5px;
}

.text-block {
    position: absolute;
    bottom: 5px;
    color: white;
    display: block;
    padding-left: 20px;
}

.blog-post-image {
    height: 400px;
    width: 100%;
    object-fit: cover;
    border-radius: 7px;
}
.autor-details:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 7px;
    background: rgba(0, 0, 0, 0.5);
}
