@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap');

* {
    font-family: 'Nunito',
    sans-serif;


}

.coin-header {
  background: rgba(202, 202, 202, 0.22) !important;
  mix-blend-mode: multiply;
}

.currency_input_group {
  width:0 !important;
}

body {
  background-color: #fbfcff !important;
}